In [218]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

# File to Load (Remember to change the path if needed.)
school_data_to_load = os.path.join("/Users/noelia/Desktop/Resources/", "schools_complete.csv")
student_data_to_load = os.path.join("/Users/noelia/Desktop/Resources/","students_complete.csv")

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head(10)

/Users/noelia/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:20: FutureWarning: The default value of regex will change from True to False in a future version.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [206]:
student_data_df.loc[(student_data_df["reading_score"] >= 70) & (student_data_df["math_score"] >= 70)]

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [37]:
student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"]== "9th")]

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
37537,37537,Erik Snyder,M,9th,Thomas High School,NaN,NaN
37538,37538,Tanya Martinez,F,9th,Thomas High School,NaN,NaN
37539,37539,Noah Erickson,M,9th,Thomas High School,NaN,NaN
37540,37540,Austin Meyer,M,9th,Thomas High School,NaN,NaN
37543,37543,Madison Hampton,F,9th,Thomas High School,NaN,NaN
...,...,...,...,...,...,...,...
39152,39152,Lori Moore,F,9th,Thomas High School,NaN,NaN
39153,39153,William Hubbard,M,9th,Thomas High School,NaN,NaN
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,NaN,NaN
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,NaN
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN

In [36]:
student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"]== "9th"), "reading_score"]= np.nan

In [ ]:
student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"]== "9th"), "math_score"]= np.nan

In [81]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [113]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
#Get the total of students
student_total_total=school_data_complete_df["Student ID"].count()
student_total_total

39170

In [111]:
# Get the total number of students of 9th grade in Thomas High School.
school_data_complete_THG_df = school_data_complete_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"]== "9th")]
student_count= school_data_complete_THG_df["Student ID"].count()
student_count

461

In [112]:
# New total
total_students= student_total_total- student_count
total_students

38709

In [103]:
# Total Schools
school_count= len(school_data_complete_df["school_name"].unique())
school_count

15

In [122]:
# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [106]:
# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [125]:
# Get all the students that are passing reading in a new DataFrame.
passing_reading_count = len(school_data_complete_df[school_data_complete_df["reading_score"] >= 70])
passing_reading_count

33610

In [134]:
# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / float(total_students) * 100
passing_reading_percentage

86.82735281200755

In [133]:
# Get all the students who are passing math in a new DataFrame.
passing_math_count =len(school_data_complete_df[school_data_complete_df["math_score"] >= 70])
passing_math_count

29370

In [131]:
# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / float(total_students) * 100
passing_math_percentage

75.87382779198636

In [ ]:
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
overall_passing_math_reading_count= passing_math_reading["student_name"].count()
overall_passing_math_reading_count

In [120]:
# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count / total_students * 100
overall_passing_percentage

65.17232575950983

In [194]:
# Calculate the total budget.
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [195]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
          "% Passing Reading": passing_reading_percentage,
          "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,1174,24649428,78.985371,81.87784,90.630324,86.827353,65.172326

In [191]:
# Get the total number of students of 11-12th grade in Thomas High School.
school_data_complete_THG_df = student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"]>= "10th")& (student_data_df["grade"]<= "12th")]
student_count_10_12= school_data_complete_THG_df["Student ID"].count()
student_count_10_12

1174

In [188]:
# Get all the Thomas High School students who are passing Reading in a new DataFrame.
THS_students_pass_reading_df = school_data_complete_THG_df.loc[(school_data_complete_THG_df["school_name"] == "Thomas High School") & (school_data_complete_THG_df["reading_score"]>= 70) ]
student_pass_reading= THS_students_pass_reading_df["Student ID"].count()
student_pass_reading

1139

In [189]:
# Get all the Thomas High School students who are passing math in a new DataFrame.
THS_students_pass_math_df = school_data_complete_THG_df.loc [(school_data_complete_THG_df["school_name"] == "Thomas High School") & (school_data_complete_THG_df["math_score"]>= 70)]
student_pass_mathTHS= THS_students_pass_math_df["Student ID"].count()
student_pass_mathTHS

1094

In [190]:
# Get the total number of students Thomas High School.
school_data_complete_THG_df = school_data_complete_df.loc[(student_data_df["school_name"] == "Thomas High School") ]
THS_student_count= school_data_complete_THG_df["Student ID"].count()
THS_student_count

1635

In [192]:
# Get all the Thomas High School students who are passing Math and Reading in a new DataFrame.
THS_students_pass_math_reading_df = school_data_complete_THG_df.loc[(school_data_complete_THG_df["reading_score"]>= 70) & (school_data_complete_THG_df["math_score"]>= 70)]
student_pass_math_readingTHS= THS_students_pass_math_reading_df["Student ID"].count()
student_pass_math_readingTHS

1064

In [183]:
# Calculate the percent that passed math.
passing_math_percentage = student_pass_mathTHS / float(student_count_10_12) * 100
passing_math_percentage

93.18568994889267

In [182]:
# Calculate the percent that passed reading.
passing_reading_percentage = student_pass_reading/ float(student_count_10_12) * 100
passing_reading_percentage

97.01873935264055

In [225]:
# Calculate the overal that passed reading and math
passing_overall_percentage = student_pass_math_readingTHS/ float(student_count_10_12) * 100
passing_overall_percentage

90.63032367972743

In [226]:
# Calculate school type
#school_type =school_data_df.at[2,'Thomas High School']

In [229]:
ThomasHS_summary_df = pd.DataFrame(
          [{"School": "Thomas High School",
          "Total Students": THS_student_count,
          #"Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
          "% Passing Reading": passing_reading_percentage,
          "% Overall Passing": passing_overall_percentage}])
ThomasHS_summary_df

,School,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Thomas High School,1635,78.985371,81.87784,90.630324,86.827353,90.630324